<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <meta name="description" content="이 사이트는 velog를 클론코딩한 alog 입니다. 이제 react가 아닌 mustache를 더한">
    <meta name="keywords" content="프론트엔드, 백엔드, 풀스택, alog, velog, 클론코딩, 사이드 프로젝트">
    <meta name="author" content="azurealstn">
    <title>alog</title>

    <!-- Open Graph (Facebook, Linkedin) -->
    <meta property="og:url" content="https://velog.io/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="velog 클론코딩한 alog">
    <meta property="og:description" content="이 사이트는 velog를 클론코딩한 alog 입니다. 이제 react가 아닌 mustache를 더한">
    <meta property="og:image" content="/images/online.jpg">
    <meta property="og:image:secure_url" content="/images/online.jpg">
    <meta property="og:site_name" content="velog 클론코딩">
    <meta property="og:locale" content="ko-KR">

    <!-- twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="velog 클론코딩한 alog">
    <meta name="twitter:description" content="이 사이트는 velog를 클론코딩한 alog 입니다. 이제 react가 아닌 mustache를 더한">
    <meta name="twitter:image" content="/images/online.jpg">
    <meta name="twitter:url" content="https://velog.io/">
    <meta name="twitter:site" content="@azurealstn">
    <meta name="twitter:creator" content="@azurealstn">

    <!-- fabicon -->
    <link rel="icon" type="image/png" sizes="512x512" href="/images/leaf-fabicon.png">

    <!-- apple fabicon -->
    <link rel="apple-touch-icon" sizes="512x512" href="/images/leaf-fabicon.png">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="/css/normalize.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/32f48298df.js" crossorigin="anonymous"></script>

    <!-- Font -->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Fuzzy+Bubbles:wght@700&family=Nanum+Gothic&family=Silkscreen&display=swap" rel="stylesheet">

    <!-- Toast   -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- CSS load -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/theme/toastui-editor-dark.min.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/liked.css">

    <!-- JavaScript load -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous" defer></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js" defer></script>
    <script src="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.js" defer></script>
    <script src="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.js" defer></script>
    <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js" defer></script>
    <script src="/js/index.js" defer></script>
    <script src="/js/liked.js" defer></script>

</head>
<body>
<!-- header -->
<div class="root">
    <header>
        <div class="header">
            <div class="head-container">
                <div class="head-logo">
                    <a href="/">alog</a>
                </div>
                <div class="head-content">
                    <a href="/api/v1/auth/search" class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                    {{^sessionMemberDto}}
                        <button class="head-btn head-login" id="show-btn">로그인</button>
                    {{/sessionMemberDto}}
                    {{#sessionMemberDto}}
                        <button class="head-btn new-posts" style="margin-right: 1.25rem;">새 글 작성</button>
                        <div class="thumbnail-profile">
                            <img src="{{sessionMemberDto.picture}}" alt="thumbnail-profile">
                            <i class="fa-solid fa-sort-down"></i>
                        </div>
                        <div class="menu hide">
                            <div class="menu-wrapper">
                                <a href="/api/v1/my-alog/{{sessionMemberDto.id}}" class="menu-item">
                                    <div class="menu-name">
                                        내 에이로그
                                    </div>
                                </a>
                                <a href="/api/v1/temp-saves" class="menu-item">
                                    <div class="menu-name">
                                        임시 글
                                    </div>
                                </a>
                                <a href="/api/v1/liked/{{sessionMemberDto.id}}" class="menu-item">
                                    <div class="menu-name">
                                        좋아요 목록
                                    </div>
                                </a>
                                <a href="/api/v1/setting/{{sessionMemberDto.id}}" class="menu-item">
                                    <div class="menu-name">
                                        설정
                                    </div>
                                </a>
                                <a href="/logout" class="menu-item">
                                    <div class="menu-name">
                                        로그아웃
                                    </div>
                                </a>
                            </div>
                        </div>
                    {{/sessionMemberDto}}
                </div>
            </div>
        </div>
    </header>

    {{^hasPostsList}}
    <!-- 좋아요 목록 -->
    <div class="liked">
        <div class="liked-container">
            <div class="tab-wrapper">
                <div class="liked-posts">좋아한 포스트</div>
                <div class="underline"></div>
            </div>
            <div class="posts-list">
                <div class="line"></div>
                <div class="posts-content">
                    <img src="/images/people.png" alt="no-liked-posts">
                    <div class="description">리스트가 비어있습니다.</div>
                </div>
            </div>
        </div>
    </div>
    {{/hasPostsList}}

    {{#hasPostsList}}
    <section class="main">
            <div class="main-container">
                <div class="tab-wrapper" style="margin-bottom: 3rem;">
                    <div class="liked-posts">좋아한 포스트</div>
                    <div class="underline"></div>
                </div>
                <main class="main-content">
                    <div class="posts-content">
                        {{#postsList}}
                            <div class="card">
                                {{#storeFilename}}
                                    <a class="card-thumbnail" href="/api/v1/auth/posts/{{id}}">
                                        <div class="card-wrap">
                                            <img src="/api/v1/auth/images/{{storeFilename}}" alt="thumbnail-basic-img">
                                        </div>
                                    </a>
                                {{/storeFilename}}
                                <div class="posts-info">
                                    <a href="/api/v1/auth/posts/{{id}}" class="title">
                                        <h4>{{title}}</h4>
                                        <div class="description">
                                            <p>{{description}}</p>
                                        </div>
                                    </a>
                                    <div class="sub-info">
                                        <span>{{previousTime}}</span>
                                        <span class="separator">·</span>
                                        <span>{{commentCount}} 개의 댓글</span>
                                    </div>
                                </div>
                                <div class="bottom-info">
                                    <a href="/api/v1/my-alog/{{member.id}}" class="user-info">
                                        <img src="{{member.picture}}" alt="member profile thumbnail">
                                        <span>by <b>{{member.name}}</b></span>
                                    </a>
                                    <div class="likes">
                                        <i class="fa-solid fa-heart"></i>
                                        <span>{{likeCount}}</span>
                                    </div>
                                </div>
                            </div>
                        {{/postsList}}
                    </div>
                    <nav class="pagination">
                        <input type="hidden" id="startPage" value="{{searchDto.basePageDto.startPage}}" />
                        <input type="hidden" id="endPage" value="{{searchDto.basePageDto.endPage}}" />
                        {{#searchDto.basePageDto.prevPage}}
                            <a href="?page={{movePrevPage}}" class="move-page pagination-previous">이전 페이지</a>
                        {{/searchDto.basePageDto.prevPage}}
                        <ul class="pagination-list">
                            {{#hasDoublePrevPage}}
                                <li><a href="?page={{doublePrevPage}}" class="pagination-link doublePrev">...</a></li>
                            {{/hasDoublePrevPage}}
                            {{^hasDoublePrevPage}}

                            {{/hasDoublePrevPage}}
                            {{#pagination}}
                                <li><a href="?page={{.}}" class="pagination-link" data-value={{.}}>{{.}}</a></li>
                            {{/pagination}}
                            {{#hasDoubleNextPage}}
                                <li><a href="?page={{doubleNextPage}}" class="pagination-link doubleNext">...</a></li>
                            {{/hasDoubleNextPage}}
                            {{^hasDoubleNextPage}}

                            {{/hasDoubleNextPage}}
                        </ul>
                        {{#searchDto.basePageDto.nextPage}}
                            <a href="?page={{moveNextPage}}" class="move-page pagination-next">다음 페이지</a>
                        {{/searchDto.basePageDto.nextPage}}
                    </nav>
                </main>
            </div>
    </section>
    {{/hasPostsList}}


    <!-- modal -->
    <div class="modal-bg" id="modal-bg-hide"></div>
    <div class="modal-container" id="modal-container-hide">
        <div class="wrapper">
            <div class="gray-block">
                <div>
                    <img src="/images/pumpkin.png" alt="welcome">
                    <div class="welcome">Welcome!</div>
                </div>
            </div>
            <div class="white-block">
                <div class="exit-wrapper">
                    <button id="hide-btn"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="block-content">
                    <div class="content-wrapper">
                        <div class="upper-wrapper">
                            <h2 class="change-login">로그인</h2>
                            <section>
                                <h4>이메일로 <span class="change-login">로그인</span></h4>
                                <form class="login-form" onsubmit="return false">
                                    <input autocomplete="off" type="text" id="email" name="email" placeholder="이메일을 입력하세요.">
                                    <button class="login-btn change-login" id="login-btn">로그인</button>
                                </form>
                                <div class="message" style="display: none;">
                                    <i class="fa-solid fa-check"></i>
                                    <div class="message-description">
                                        <span class="emailCheck">회원가입</span> 링크가 이메일로 전송되었습니다.
                                    </div>
                                </div>
                            </section>
                            <section>
                                <h4>소셜 계정으로 <span class="change-login">로그인</span></h4>
                                <div class="social-login">
                                    <a href="/oauth2/authorization/google" class="social-link" style="background: white;">
                                        <img class="google" src="/images/social-google.png" alt="google">
                                    </a>
                                    <a href="/oauth2/authorization/naver" class="social-link">
                                        <img src="/images/social-naver.png" alt="naver">
                                    </a>
                                </div>
                            </section>
                        </div>
                        <div class="foot">
                            <span class="member">아직 회원이 아니신가요?</span>
                            <div class="link">회원가입</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>