{{>layout/header}}

<div class="login-container">
    <div class="wrapper">
        <div class="gray-block">
            <div>
                <img src="/images/pumpkin.png" alt="welcome">
                <div class="welcome">Welcome!</div>
            </div>
        </div>
        <div class="white-block">
            <div class="exit-wrapper">
                <button id="hide-btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="block-content">
                <div class="content-wrapper">
                    <div class="upper-wrapper">
                        <h2 class="change-login">로그인</h2>
                        <section>
                            <h4>이메일로 <span class="change-login">로그인</span></h4>
                            <form class="login-form" onsubmit="return false">
                                <input autocomplete="off" type="text" id="email" name="email" placeholder="이메일을 입력하세요.">
                                <button class="login-btn change-login" id="login-btn">로그인</button>
                            </form>
                            <div class="message" style="display: none;">
                                <i class="fa-solid fa-check"></i>
                                <div class="message-description">
                                    <span class="emailCheck">회원가입</span> 링크가 이메일로 전송되었습니다.
                                </div>
                            </div>
                        </section>
                        <section>
                            <h4>소셜 계정으로 <span class="change-login">로그인</span></h4>
                            <div class="social-login">
                                <a href="/oauth2/authorization/google" class="social-link" style="background: white;">
                                    <img class="google" src="/images/social-google.png" alt="google">
                                </a>
                                <a href="/" class="social-link">
                                    <img src="/images/social-naver.png" alt="naver">
                                </a>
                            </div>
                        </section>
                    </div>
                    <div class="foot">
                        <span class="member">아직 회원이 아니신가요?</span>
                        <div class="link">회원가입</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>