:root {
  /* text color */
  --text1: #212529;
  --text2: #E36B12;
  --text3: #fff;
  --text4: #495057;
  --text5: #868E96;
  --text6: #bdbdbd;
  --text7: #29d;
  --text8: #D9D9D9;
  --text9: #ACACAC;
  --text10: #ECECEC;

  --primary1: #db8056;
  --primary2: #db6e3d;

  --button-text1: #121212;
  --button-text2: #D9D9D9;

  --message-text1: #ff9f31;
  --message-text2: #e66a00;
  --message-text3: #d96000;
  --message-text4: rgb(255, 107, 107);

  /* background color */
  --bg-page1: #F8F9FA;
  --bg-page2: #121212;

  --bg-element1: rgba(0,0,0,0.05);
  --bg-element2: #F8F9FA;
  --bg-element3: #212529;
  --bg-element4: #343A40;
  --bg-element5: #fff;
  --bg-element6: #303740;
  --bg-element7: #1E1E1E;
  --bg-element8: #2E2E2E;
  --bg-element9: #252525;

  --bg-modal1: rgba(0,0,0,0.85);

  /* border color */
  --border1: #F1F3F5;
  --border2: #A0A0A0;


  /* padding */
  --padding-side: 5rem;
  --padding1: 10px;

  /* margin */
  --margin-side: 1.5rem;
  --margin1: 10px;

  /* font family */
  --font-sans-serif: 'Spoqa Han Sans Neo', 'sans-serif';
  --font-fuzzy-bubbles: 'Fuzzy Bubbles', cursive;
  --font-silkscreen: 'Silkscreen', cursive;
  --font-concert-one: 'Concert One', cursive;

  /* font size */
  --font-more-large: 26px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  /* size */
  --size-more-large: 1.75rem;
  --size-large: 1.5rem;
  --size-medium: 1.25rem;
  --size-small: 1rem;
  --size-micro: 0.75rem;

  /* section size */
  --section-width: 1024px;
  --section-height: 720px;

}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans-serif);
  margin: 0 auto;
  color: var(--text10);
}

.root {
  background-color: var(--bg-page2);
}

html, body, .root {
  height: 100%;
  background-color: var(--bg-page2);
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: var(--text10);
}

a:visited {
  text-decoration: none;
  color: var(--text10);
}

a:active {
  text-decoration: none;
  color: var(--text10);
}

a:hover {
  text-decoration: none;
  color: var(--text10);
}

.create-member {
  width: 768px;
  margin: 100px auto 0px;
  line-height: 1.5;
}

.create-member h1 {
  font-size: calc(var(--size-small) * 4);
  color: var(--text10);
  margin: 0px;
  font-weight: bold;
  font-family: var(--font-fuzzy-bubbles);
}

.create-member .description {
  font-size: var(--size-large);
  color: var(--text10);
}

.create-member .contents .wrapper {
  margin-top: calc(var(--size-small) * 3);
  margin-bottom: calc(var(--size-small) * 3);
}

.input-area label {
  font-weight: bold;
  font-size: 1.125rem;
  color: var(--text10);
  margin-bottom: var(--size-small);
  transition: all 0.125s ease-in 0s;
  display: block;
  line-height: 1.5;
}

.change-color label {
  color: var(--primary2);
}

.input-area .group {
  display: inline-block;
  max-width: 100%;
}

.input-area .group .input-wrapper {
  padding-bottom: calc(var(--size-small) / 2);
  border-bottom: 1px solid var(--border2);
  display: flex;
  align-items: center;
}

.change-color .group .input-wrapper {
  border-color: var(--primary2);
}

.input-area .group .input-wrapper input {
  background: transparent;
  font-size: var(--size-large);
  border: none;
  outline: none;
  color: var(--text8);
  width: 100%;
  transition: all 0.125s ease-in 0s;
  display: block;
  line-height: 1.5;
}

.input-area .group .input-wrapper input:disabled {
  color: var(--text9);
}

.change-color .group .input-wrapper input {
  color: var(--primary2);
}

.input-area .group .input-wrapper .fa-lock {
  font-size: var(--size-small);
  color: var(--text9);
}

.input-area .group .width-marker {
  max-width: 100%;
  display: inline-block;
  visibility: hidden;
  font-size: var(--size-large);
  overflow: hidden;
  line-height: 0;
}

.form-bottom {
  margin-top: calc(var(--size-small) * 6);
}

.form-bottom .error-message {
  margin-bottom: var(--size-small);
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--message-text4);
  font-weight: bold;
}

.form-bottom .buttons .cancel {
  height: calc(var(--size-small) * 3);
  font-size: var(--size-large);
  padding-left: calc(var(--size-small) * 2);
  padding-right: calc(var(--size-small) * 2);
  border-radius: var(--size-large);
  border: none;
  outline: none;
  font-weight: bold;
  word-break: keep-all;
  background: var(--bg-element8);
  color: var(--text10);
  transition: all 0.125s ease-in 0s;
  cursor: pointer;
}

.form-bottom .buttons .cancel:hover {
  background: var(--bg-element9);
}

.form-bottom .buttons .next {
  height: calc(var(--size-small) * 3);
  font-size: var(--size-large);
  padding-left: calc(var(--size-small) * 2);
  padding-right: calc(var(--size-small) * 2);
  border-radius: var(--size-large);
  border: none;
  outline: none;
  font-weight: bold;
  word-break: keep-all;
  background: var(--primary1);
  color: var(--text10);
  transition: all 0.125s ease-in 0s;
  cursor: pointer;
  margin-left: var(--size-small);
}

.form-bottom .buttons .next:hover {
  background: var(--primary2);
}

@media screen and (max-width: 768px) {
  .create-member {
    width: 100%;
    padding-left: var(--size-small);
    padding-right: var(--size-small);
    margin-top: calc(var(--size-small) * 4);
  }

  .create-member h1 {
    font-size: calc(var(--size-small) * 3);
  }

  .create-member .description {
    font-size: var(--size-small);
  }

  .input-area .group .input-wrapper input {
    font-size: var(--size-medium);
  }
}