:root {
  /* text color */
  --text1: #212529;
  --text2: #E36B12;
  --text3: #fff;
  --text4: #495057;
  --text5: #868E96;
  --text6: #bdbdbd;
  --text7: #29d;
  --text8: #D9D9D9;
  --text9: #ACACAC;
  --text10: #ECECEC;
  --text11: #868E96;

  --page-text1: #363636;

  --primary1: #db8056;
  --primary2: #db6e3d;

  --button-text1: #121212;
  --button-text2: #D9D9D9;

  --message-text1: #fbc88d;
  --message-text2: #e66a00;
  --message-text3: #ab3907;

  --slight-layer: rgba(255,255,255,0.1);
  --opaque-layer: rgba(0,0,0,0.85);

  /* background color */
  --bg-page1: #F8F9FA;
  --bg-page2: #121212;

  --bg-element1: rgba(0,0,0,0.05);
  --bg-element2: #F8F9FA;
  --bg-element3: #212529;
  --bg-element4: #343A40;
  --bg-element5: #fff;
  --bg-element6: #303740;
  --bg-element7: #1E1E1E;
  --bg-element8: #F8F9FA;
  --bg-element9: #0c0c0c;

  --bg-modal1: rgba(0,0,0,0.85);
  --bg-modal2: #252525;

  --bg-tag: #252525;

  --bg-button1: #FFC9C9;
  --bg-button2: #FFA9A9;

  /* border color */
  --border1: #F1F3F5;
  --border2: #A0A0A0;
  --border3: #595959;
  --border4: #dbdbdb;
  --border5: #b5b5b5;
  --border6: #2A2A2A;
  --border7: #4D4D4D;
  --border8: #E0E0E0;

  --editor-footer: #2E2E2E;


  /* padding */
  --padding-side: 5rem;
  --padding1: 10px;

  /* margin */
  --margin-side: 1.5rem;
  --margin1: 10px;

  /* font family */
  --font-sans-serif: 'Spoqa Han Sans Neo', 'sans-serif';
  --font-fuzzy-bubbles: 'Fuzzy Bubbles', cursive;
  --font-silkscreen: 'Silkscreen', cursive;
  --font-concert-one: 'Concert One', cursive;
  --font-nanum-gothic: 'Nanum Gothic', sans-serif;

  /* font size */
  --font-more-large: 26px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  /* size */
  --size-more-large: 1.75rem;
  --size-large: 1.5rem;
  --size-medium: 1.25rem;
  --size-small: 1rem;
  --size-micro: 0.75rem;

  /* section size */
  --section-width: 1024px;
  --section-height: 720px;

}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--bg-page2);
  height: 100%;
}

body {
  font-family: var(--font-sans-serif);
  margin: 0 auto;
  color: var(--text10);
  transition: background 0.125s ease-in 0s;
  overflow-y: visible;
}

.root {
  background-color: var(--bg-page2);
  height: 100%;
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: var(--text1);
}

a:visited {
  text-decoration: none;
  color: var(--text1);
}

a:active {
  text-decoration: none;
  color: var(--text1);
}

a:hover {
  text-decoration: none;
  color: var(--text1);
}

/* login modal start */
#modal-bg-hide {
  display: none;
  opacity: 0;
}

#modal-container-hide {
  display: none;
  opacity: 0;
}

.modal-bg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-modal1);
  z-index: 10;
}

.modal-container-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  transition: 0.4s;
  animation: 0.4s ease-in-out 0s 1 normal forwards running appear1;
}

.modal-container-detail .wrapper {
  width: 606px;
  height: 530px;
  box-shadow: rgb(0 0 0 / 9%) 0px 2px 12px 0px;
  display: flex;
  animation: 0.4s ease-in-out 0s 1 normal forwards running appear2;
}

.modal-container-detail .wrapper .gray-block {
  width: 216px;
  background: var(--bg-element7);
  padding: var(--size-large);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container-detail .wrapper .gray-block img {
  width: 100%;
  height: auto;
  display: block;
}

.modal-container-detail .wrapper .gray-block .welcome {
  font-size: calc(var(--size-small) * 2);
  margin-top: var(--size-large);
  color: var(--text8);
  text-align: center;
  font-family: var(--font-concert-one);
}

.modal-container-detail .wrapper .white-block {
  flex: 1 1 0%;
  background: var(--bg-page2);
  padding: var(--size-large);
  display: flex;
  flex-direction: column;
}

.white-block .exit-wrapper {
  display: flex;
  justify-content: flex-end;
  font-size: var(--size-large);
  color: var(--text9);
  margin-bottom: 2.25rem;
}

.white-block .exit-wrapper button {
  border: none;
  outline: none;
  background: none;
  color: var(--button-text2);
  cursor: pointer;
  transition: all 1s ease-in 0s;
}

.white-block .block-content {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.white-block .block-content .content-wrapper {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
}

.content-wrapper .upper-wrapper h2 {
  color: var(--text10);
}

.upper-wrapper h4 {
  margin-top: var(--size-small);
  margin-bottom: var(--size-small);
  color: var(--text9);
}

.upper-wrapper .login-form {
  width: 100%;
  display: flex;
  height: calc(var(--size-small) * 3);
}

.upper-wrapper .login-form input {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  font-size: var(--size-small);
  color: var(--text10);
  flex: 1 1 0%;
  padding: var(--size-small);
  background: var(--bg-element7);
  border-right: none;
  border-bottom: none;
  outline: none;
}

.upper-wrapper .login-form button {
  background: var(--primary2);
  color: var(--button-text);
  font-size: var(--size-small);
  font-weight: bold;
  outline: none;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: calc(var(--size-small) * 6);
  word-break: keep-all;
  cursor: pointer;
}

.upper-wrapper .message {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--message-text1);
  border: 1px solid var(--message-text2);
  color: var(--message-text3);
  padding-left: var(--size-micro);
  padding-right: var(--size-micro);
  height: calc(var(--size-small) * 3);
  font-family: var(--font-nanum-gothic);
}

.upper-wrapper .message .fa-check {
  font-size: var(--size-large);
  color: var(--message-text3);
}

.upper-wrapper .message .message-description {
  font-size: 0.875rem;
  flex: 1 1 0%;
  text-align: center;
}

.upper-wrapper .social-login {
  display: flex;
  justify-content: space-around;
  margin-top: var(--size-large);
}

.upper-wrapper .social-login .social-link {
  width: calc(var(--size-small) * 3);
  height: calc(var(--size-small) * 3);
  border-radius: var(--size-large);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: all 0.25s ease-in 0s;
  color: white;
  cursor: pointer;
}

.content-wrapper .foot {
  text-align: right;
}

.content-wrapper .foot span {
  margin-right: calc(var(--size-small) / 4);
  color: var(--text8);
}

.content-wrapper .foot .link {
  display: inline-block;
  font-weight: bold;
  color: var(--primary2);
  cursor: pointer;
}
/* login modal end */

/* my alog start */
.my-alog {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.my-alog .my-alog-top {
  margin-top: 5.625rem;
}

.my-alog .my-alog-top .member-info {
  display: flex;
  align-items: center;
}

.member-info img {
  display: block;
  cursor: pointer;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgb(0 0 0 / 6%) 0px 0px 4px 0px;
}

.member-info .member-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--size-small);
}

.member-info .member-name .name {
  font-size: var(--size-large);
  line-height: 1.5;
  font-weight: bold;
  color: var(--text10);
}

.member-info .member-name .name a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.member-info .member-name .name a:hover {
  color: var(--text10);
  text-decoration: underline;
}

.member-info .member-name .description {
  white-space: pre-wrap;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  color: var(--text8);
  letter-spacing: -0.004em;
}

.my-alog .my-alog-top .line-area {
  background: var(--bg-modal2);
  width: 100%;
  height: 1px;
  margin-top: calc(var(--size-small) * 2);
  margin-bottom: var(--size-large);
}

.my-alog .my-alog-top .line {
  color: var(--text9);
  display: flex;
}

.my-alog .my-alog-middle {
  background: var(--bg-element7);
  height: var(--size-small);
  margin-top: calc(var(--size-small) * 2);
  box-shadow: rgb(0 0 0 / 4%) 0px 8px 8px -8px inset, rgb(0 0 0 / 4%) 0px -8px 8px -8px inset;
  display: none;
}

.my-alog .my-alog-bottom {
  margin-top: calc(var(--size-large) * 3);
  margin-bottom: calc(var(--size-large) * 3);
  display: flex;
  justify-content: center;
}

.my-alog-bottom .category {
  display: flex;
  position: relative;
}

.my-alog-bottom .category .lists {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.325rem;
  width: 8rem;
  height: 3rem;
  color: var(--text8);
  text-decoration: none;
  transition: color 0.25s ease-in-out 0s;
  font-weight: 600;
  cursor: pointer;
}

.my-alog-bottom .category .lists.active {
  color: var(--primary2);
}

.my-alog-bottom .category .underline {
  width: 8rem;
  height: 2px;
  background: var(--primary2);
  position: absolute;
  bottom: -2px;
  transition: left 0.25s ease-in-out 0s;
}

.search-area .search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: calc(var(--size-small) * 2);
}

.search-area .search .search-box {
  display: flex;
  height: 2.25rem;
  border: 1px solid var(--border2);
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  align-items: center;
  transition: all 0.125s ease-in 0s;
  cursor: text;
}

.search-area .search .search-box.focus {
  display: flex;
  height: 2.25rem;
  border: 1px solid var(--border8);
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  align-items: center;
  transition: all 0.125s ease-in 0s;
  cursor: text;
}

.search .search-box i {
  transition: all 0.125s ease-in 0s;
  margin-right: 0.5rem;
  fill: rgb(173, 181, 189);
  flex-shrink: 0;
}

.search .search-box input {
  transition: all 0.125s ease-in 0s;
  font-size: 0.875rem;
  flex: 1 1 0%;
  display: block;
  line-height: var(--size-small);
  height: var(--size-small);
  padding: 0px;
  border: none;
  outline: 0px;
  background: transparent;
  color: var(--text8);
  min-width: 0px;
}

.tag-area {
  position: relative;
}

.tag-side {
  position: relative;
}

.tag-side-area {
  position: absolute;
  width: 11.5rem;
  left: -13.5rem;
}

.tag-side-area .title {
  font-size: var(--size-small);
  line-height: 1.5;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border2);
  margin-bottom: var(--size-small);
  color: var(--text8);
  font-weight: bold;
}

.tag-side-area ul {
  list-style: none;
  padding-left: 0px;
  font-family: var(--font-nanum-gothic);
}

.tag-side-area .select {
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--primary2);
  font-weight: bold;
}

.tag-side-area .select a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.tag-side-area .select a:hover {
  color: var(--primary2);
  text-decoration: underline;
}

.tag-side-area .select span {
  margin-left: 0.5rem;
  color: var(--text9);
  font-weight: normal;
}

.tag-side-area .tag-li + .tag-li {
  margin-top: 0.25rem;
}

.tag-side-area .non-select {
  color: var(--text10);
  font-size: 0.875rem;
  line-height: 1.5;
}

.tag-side-area .non-select a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.tag-side-area .non-select a:hover {
  color: var(--text10);
  text-decoration: underline;
}

.tag-center {
  display: none;
  overflow-x: auto;
  margin-top: -1.5rem;
  padding-top: var(--size-small);
  padding-bottom: var(--size-small);
  margin-bottom: 0.5rem;
  font-family: var(--font-nanum-gothic);
}

.tag-center .select-v {
  flex-shrink: 0;
  height: var(--size-large);
  font-size: var(--size-micro);
  border-radius: var(--size-micro);
  padding-left: var(--size-micro);
  padding-right: var(--size-micro);
  display: flex;
  align-items: center;
  line-height: 1.5;
  background: var(--primary1);
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.tag-center .select-v span {
  font-size: var(--size-micro);
  margin-left: 0.25rem;
  color: white;
  opacity: 0.8;
}

.tag-center .tag-total + .tag-total {
  margin-left: 0.5rem;
}

.tag-center .non-select-v {
  flex-shrink: 0;
  height: var(--size-large);
  font-size: var(--size-micro);
  border-radius: var(--size-micro);
  padding-left: var(--size-micro);
  padding-right: var(--size-micro);
  display: flex;
  align-items: center;
  line-height: 1.5;
  background: var(--bg-element7);
  color: var(--text10);
  text-decoration: none;
  cursor: pointer;
}

.tag-center .non-select-v span {
  margin-left: 0.25rem;
  color: var(--text9);
  font-size: var(--size-micro);
}

.posts-area .posts {
  padding-top: 4rem;
  padding-bottom: 4rem;
  line-height: 1.5;
}

.posts-area .posts + .posts {
  border-top: 1px solid var(--border6);
}

.posts-area .posts:first-child {
  padding-top: 0px;
}

.posts-area .posts > a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.posts-area .posts p {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  font-size: var(--size-small);
  color: var(--text8);
  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



.posts-area .posts .tags-wrapper {
  margin-bottom: -0.875rem;
}

.posts-area .posts .tags-wrapper .tag-name {
  margin-bottom: 0.875rem;
  background: var(--bg-tag);
  padding-left: var(--size-small);
  padding-right: var(--size-small);
  height: 2rem;
  border-radius: var(--size-small);
  display: inline-flex;
  align-items: center;
  margin-right: 0.875rem;
  color: var(--primary1);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--size-small);
  cursor: pointer;
}

.posts-area .posts .tags-wrapper .tag-name:hover {
  opacity: 0.75;
}

.posts-area .posts .subinfo {
  display: flex;
  align-items: center;
  margin-top: var(--size-small);
  color: var(--text9);
  font-size: 0.875rem;
}

.posts-area .posts .subinfo .separator {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.posts-area .posts .subinfo .likes {
  display: flex;
  align-items: center;
}

.posts-area .posts .subinfo .likes i {
  margin-right: 0.25rem;
}

.posts-area .posts .subinfo .secret {
  background: rgb(52, 58, 64);
  color: white;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
  font-family: var(--font-nanum-gothic);
  display: inline-flex;
  align-items: center;
}

.posts-area .posts .subinfo .secret i {
  margin-right: 0.5rem;
  font-size: 0.6rem;
}

.posts-area .posts .subinfo .secret span {
  font-weight: 500;
}

/* my alog end */


/* media screen start */
@media screen and (max-width: 1200px) {
  .tag-side-area {
    display: none;
  }

  .tag-center {
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  .my-alog .my-alog-top {
    padding-left: var(--size-small);
    padding-right: var(--size-small);
  }
}

@media screen and (max-width: 767px) {
  .modal {
    align-items: flex-start;
    padding: calc(var(--size-small) * 2) var(--size-small);
    overflow: auto;
  }

  .modal .modal-container {
    flex-direction: column;
  }

  .modal .modal-container .line {
    display: none;
  }

  .my-alog {
    width: 100%;
  }

  .my-alog .my-alog-top {
    margin-top: calc(var(--size-small) * 3);
  }

  .my-alog .my-alog-middle {
    display: block;
  }

  .my-alog .my-alog-bottom {
    margin-top: 0px;
    margin-bottom: var(--size-large);
  }

  .my-alog .my-alog-top .member-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .my-alog .my-alog-top .line-area {
    margin-top: var(--size-small);
    margin-bottom: var(--size-small);
  }

  .member-info img {
    width: 5rem;
    height: 5rem;
  }

  .member-info .member-name {
    margin-left: 0px;
    margin-top: var(--size-small);
  }

  .member-info .member-name .name {
    font-size: 1.125rem;
  }

  .member-info .member-name .description {
    margin-top: 0.5rem;
    font-size: 0.875rem;
  }

  .my-alog-bottom .category {
    width: 100%;
  }

  .my-alog-bottom .category .lists {
    flex: 1 1 0%;
    font-size: var(--size-small);
    height: 2.5rem;
    cursor: pointer;
  }

  .my-alog-bottom .category .underline {
    width: 50%;
  }

  .search-area {
    display: none;
  }

  .tag-center {
    padding-left: var(--size-small);
    padding-right: var(--size-small);
  }

  .posts-area {
    padding-left: var(--size-small);
    padding-right: var(--size-small);
  }

  .posts-area .posts {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .posts-area .posts p {
    font-size: 0.875rem;
    margin-bottom: var(--size-large);
  }

  .posts-area .posts .tags-wrapper {
    margin-bottom: -0.5rem;
  }

  .posts-area .posts .tags-wrapper .tag-name {
    height: var(--size-large);
    font-size: var(--size-micro);
    border-radius: var(--size-micro);
    padding-left: var(--size-micro);
    padding-right: var(--size-micro);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .posts-area .posts .subinfo {
    font-size: var(--size-micro);
  }

}
/* media screen end */

/* keyframes start */
