:root {
  /* text color */
  --text1: #212529;
  --text2: #E36B12;
  --text3: #fff;
  --text4: #495057;
  --text5: #868E96;
  --text6: #bdbdbd;
  --text7: #29d;
  --text8: #D9D9D9;
  --text9: #ACACAC;
  --text10: #ECECEC;
  --text11: #868E96;

  --page-text1: #363636;

  --primary1: #db8056;
  --primary2: #db6e3d;

  --button-text1: #121212;
  --button-text2: #D9D9D9;

  --message-text1: #fbc88d;
  --message-text2: #e66a00;
  --message-text3: #ab3907;

  --slight-layer: rgba(255,255,255,0.1);
  --opaque-layer: rgba(0,0,0,0.85);

  /* background color */
  --bg-page1: #F8F9FA;
  --bg-page2: #121212;

  --bg-element1: rgba(0,0,0,0.05);
  --bg-element2: #F8F9FA;
  --bg-element3: #212529;
  --bg-element4: #343A40;
  --bg-element5: #fff;
  --bg-element6: #303740;
  --bg-element7: #1E1E1E;
  --bg-element8: #F8F9FA;
  --bg-element9: #0c0c0c;

  --bg-modal1: rgba(0,0,0,0.85);
  --bg-modal2: #252525;

  --bg-tag: #252525;

  /* border color */
  --border1: #F1F3F5;
  --border2: #A0A0A0;
  --border3: #595959;
  --border4: #dbdbdb;
  --border5: #b5b5b5;
  --border6: #2A2A2A;
  --border7: #4D4D4D;
  --border8: #E0E0E0;

  --editor-footer: #2E2E2E;


  /* padding */
  --padding-side: 5rem;
  --padding1: 10px;

  /* margin */
  --margin-side: 1.5rem;
  --margin1: 10px;

  /* font family */
  --font-sans-serif: 'Spoqa Han Sans Neo', 'sans-serif';
  --font-fuzzy-bubbles: 'Fuzzy Bubbles', cursive;
  --font-silkscreen: 'Silkscreen', cursive;
  --font-concert-one: 'Concert One', cursive;
  --font-nanum-gothic: 'Nanum Gothic', sans-serif;

  /* font size */
  --font-more-large: 26px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  /* size */
  --size-more-large: 1.75rem;
  --size-large: 1.5rem;
  --size-medium: 1.25rem;
  --size-small: 1rem;
  --size-micro: 0.75rem;

  /* section size */
  --section-width: 1024px;
  --section-height: 720px;

}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--bg-page2);
  height: 100%;
}

body {
  font-family: var(--font-sans-serif);
  margin: 0 auto;
  color: var(--text10);
  transition: background 0.125s ease-in 0s;
  overflow-y: visible;
}

.root {
  background-color: var(--bg-page2);
  height: 100%;
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: var(--text10);
}

a:visited {
  text-decoration: none;
  color: var(--text10);
}

a:active {
  text-decoration: none;
  color: var(--text10);
}

a:hover {
  text-decoration: none;
  color: var(--text10);
}

/* login modal start */
#modal-bg-hide {
  display: none;
  opacity: 0;
}

#modal-container-hide {
  display: none;
  opacity: 0;
}

.modal-bg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-modal1);
  z-index: 10;
}

.modal-container-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  transition: 0.4s;
  animation: 0.4s ease-in-out 0s 1 normal forwards running appear1;
}

.modal-container-detail .wrapper {
  width: 606px;
  height: 530px;
  box-shadow: rgb(0 0 0 / 9%) 0px 2px 12px 0px;
  display: flex;
  animation: 0.4s ease-in-out 0s 1 normal forwards running appear2;
}

.modal-container-detail .wrapper .gray-block {
  width: 216px;
  background: var(--bg-element7);
  padding: var(--size-large);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container-detail .wrapper .gray-block img {
  width: 100%;
  height: auto;
  display: block;
}

.modal-container-detail .wrapper .gray-block .welcome {
  font-size: calc(var(--size-small) * 2);
  margin-top: var(--size-large);
  color: var(--text8);
  text-align: center;
  font-family: var(--font-concert-one);
}

.modal-container-detail .wrapper .white-block {
  flex: 1 1 0%;
  background: var(--bg-page2);
  padding: var(--size-large);
  display: flex;
  flex-direction: column;
}

.white-block .exit-wrapper {
  display: flex;
  justify-content: flex-end;
  font-size: var(--size-large);
  color: var(--text9);
  margin-bottom: 2.25rem;
}

.white-block .exit-wrapper button {
  border: none;
  outline: none;
  background: none;
  color: var(--button-text2);
  cursor: pointer;
  transition: all 1s ease-in 0s;
}

.white-block .block-content {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.white-block .block-content .content-wrapper {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
}

.content-wrapper .upper-wrapper h2 {
  color: var(--text10);
}

.upper-wrapper h4 {
  margin-top: var(--size-small);
  margin-bottom: var(--size-small);
  color: var(--text9);
}

.upper-wrapper .login-form {
  width: 100%;
  display: flex;
  height: calc(var(--size-small) * 3);
}

.upper-wrapper .login-form input {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  font-size: var(--size-small);
  color: var(--text10);
  flex: 1 1 0%;
  padding: var(--size-small);
  background: var(--bg-element7);
  border-right: none;
  border-bottom: none;
  outline: none;
}

.upper-wrapper .login-form button {
  background: var(--primary2);
  color: var(--button-text);
  font-size: var(--size-small);
  font-weight: bold;
  outline: none;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: calc(var(--size-small) * 6);
  word-break: keep-all;
  cursor: pointer;
}

.upper-wrapper .message {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--message-text1);
  border: 1px solid var(--message-text2);
  color: var(--message-text3);
  padding-left: var(--size-micro);
  padding-right: var(--size-micro);
  height: calc(var(--size-small) * 3);
  font-family: var(--font-nanum-gothic);
}

.upper-wrapper .message .fa-check {
  font-size: var(--size-large);
  color: var(--message-text3);
}

.upper-wrapper .message .message-description {
  font-size: 0.875rem;
  flex: 1 1 0%;
  text-align: center;
}

.upper-wrapper .social-login {
  display: flex;
  justify-content: space-around;
  margin-top: var(--size-large);
}

.upper-wrapper .social-login .social-link {
  width: calc(var(--size-small) * 3);
  height: calc(var(--size-small) * 3);
  border-radius: var(--size-large);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: all 0.25s ease-in 0s;
  color: white;
  cursor: pointer;
}

.content-wrapper .foot {
  text-align: right;
}

.content-wrapper .foot span {
  margin-right: calc(var(--size-small) / 4);
  color: var(--text8);
}

.content-wrapper .foot .link {
  display: inline-block;
  font-weight: bold;
  color: var(--primary2);
  cursor: pointer;
}
/* login modal end */

/* modal start */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: var(--bg-element7);
  z-index: 15;
  animation: 0.25s ease-in 0s 1 normal forwards running appear2;
}

.modal .modal-container {
  width: 768px;
  display: flex;
}

.modal .modal-container .thumbnail-area {
  flex: 1 1 0%;
  min-width: 0px;
}

.thumbnail-section > h3 {
  font-size: 1.3125rem;
  color: var(--text10);
  line-height: 1.5;
  margin-bottom: calc(var(--size-small) / 2);
  margin-top: 0px;
}

.thumbnail-section .contents .thumbnail-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: calc(var(--size-small) / 2);
}

.thumbnail-button > .actions {
  display: flex;
  align-items: center;
}

.thumbnail-button > .actions button {
  background: none;
  outline: none;
  border: none;
  font-size: var(--size-small);
  color: var(--text9);
  cursor: pointer;
  padding: 0px;
  text-decoration: underline;
}

.thumbnail-button > .actions .middledot {
  margin-left: calc(var(--size-small) / 2);;
  margin-right: calc(var(--size-small) / 2);;
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background: var(--border3)
}

.thumbnail-section .contents .thumbnail-init {
  width: 100%;
  padding-top: 55%;
  position: relative;
}

.thumbnail-init .thumbnail-insert {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 4px 0px;
}

.thumbnail-init .thumbnail-insert .thumbnail-flex {
  background: var(--bg-modal2);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thumbnail-flex i {
  font-size: 5.5rem;
  color: var(--text9);
}

.thumbnail-upload {
  flex: 1 1 0%;
  margin-top: var(--size-small);
  padding: calc(var(--size-small) / 4) calc(var(--size-small) * 2);
  background: var(--primary1);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 2%) 0px 0px 4px;
  font-size: var(--size-small);
  line-height: 1.5;
  color: var(--button-text1);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.125s ease-in 0s;
  font-weight: bold;
}

.thumbnail-upload:hover {
  background: var(--primary2);
}

.thumbnail-delete {
  flex: 1 1 0%;
  margin-top: var(--size-small);
  padding: calc(var(--size-small) / 4) calc(var(--size-small) * 2);
  background: none;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 2%) 0px 0px 4px;
  font-size: var(--size-small);
  line-height: 1.5;
  color: var(--primary1);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.125s ease-in 0s;
  font-weight: bold;
}

.thumbnail-delete:hover {
  background: var(--slight-layer);
}

.thumbnail-buttons {
  display: flex;
}

.thumbnail-section .contents button + button {
  margin-left: 1rem
}

.thumbnail-section .contents .description {
  margin-top: var(--size-large);
}

.thumbnail-image-upload__cover {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.description h4 {
  line-height: 1.5;
  margin: 0px;
  display: block;
  font-size: 1.125rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.description > textarea {
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 4px 0px;
  background: var(--bg-modal2);
  color: var(--text10);
  line-height: 1.5;
  font-size: 0.875rem;
  height: 7.375rem;
  padding: var(--size-micro) var(--size-small);
  margin-top: calc(var(--size-small) / 2);
}

.description .limit {
  text-align: right;
  margin-top: calc(var(--size-small) / 4);
  font-size: var(--size-micro);
  color: var(--text9);
}

.modal .modal-container .line {
  width: 1px;
  min-height: 425px;
  background: var(--bg-modal2);
  margin-left: calc(var(--size-small) * 2);
  margin-right: calc(var(--size-small) * 2);
}

.modal .modal-container .secret-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0%;
  min-width: 0px;
}

.secret-area .secret-section {
  outline: none;
  border: none;
}

.secret-section > h3 {
  font-size: 1.3125rem;
  color: var(--text10);
  line-height: 1.5;
  margin-bottom: calc(var(--size-small) / 2);
  margin-top: 0px;
}

.secret-section .contents {
  display: flex;
}

.secret-section .contents button.active {
  outline: none;
  flex: 1 1 0%;
  height: calc(var(--size-small) * 3);
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  background: var(--bg-modal2);
  font-size: 1.125rem;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 4px 0px;
  padding: 0px 0px 0px 1rem;
  border-radius: 4px;
  cursor: pointer;
  border: solid 1px var(--primary2);
  color: var(--primary2);
}

.secret-section .contents button.active:hover {
  opacity: 1;
}

.secret-section .contents .public i {
  font-size: var(--size-medium);
}

.secret-section .contents button.active .title {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secret-section .contents button.non-active {
  outline: none;
  flex: 1 1 0%;
  height: calc(var(--size-small) * 3);
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  background: var(--bg-modal2);
  font-size: 1.125rem;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 4px 0px;
  padding: 0px 0px 0px 1rem;
  border-radius: 4px;
  color: var(--text9);
  cursor: pointer;
  border: solid 1px transparent;
}

.secret-section .contents button.non-active:hover {
  opacity: 0.7;
}

.secret-section .contents .secret i {
  font-size: var(--size-medium);
}

.secret-section .contents button.non-active .title {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secret-section .contents button + button {
  margin-left: var(--size-small);
}

.secret-area .foot {
  display: flex;
  justify-content: flex-end;
}

.secret-area .foot .cancel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  color: var(--primary1);
  border-radius: 4px;
  padding: 0px 1.125rem;
  height: calc(var(--size-medium) * 2);
  font-size: 1.125rem;
}

.secret-area .foot .cancel:hover {
  background: var(--slight-layer);
}

.secret-area .foot .publish,
.secret-area .foot .modify-publish {
  margin-left: 0.875rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: var(--primary1);
  color: var(--button-text1);
  border-radius: 4px;
  padding: 0px 1.125rem;
  height: calc(var(--size-medium) * 2);
  font-size: 1.125rem;
}

.secret-area .foot .publish:hover,
.secret-area .foot .modify-publish:hover {
  background: var(--primary2);
}

.secret-area section.image img {
  width: 320px;
  height: 235px;
  margin-top: var(--size-small);
}
/* modal end */

/* modal-posts start */
.modal-background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--opaque-layer);
  z-index: 10;
  animation: 0.25s ease 0s 1 normal forwards running appear1;
}

.modal-posts {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-posts .modal-posts-alert {
  width: calc(var(--size-small) * 25);
  border-radius: 4px;
  background: var(--bg-element7);
  padding: calc(var(--size-small) * 2) var(--size-large);
  box-shadow: rgb(0 0 0 / 9%) 0px 2px 12px 0px;
  animation: 0.4s ease-in-out 0s 1 normal forwards running appear2;
}

.modal-posts-content h3 {
  margin: 0px;
  font-size: var(--size-large);
  color: var(--text10);
  line-height: 1.5;
  font-weight: bold;
}

.modal-posts-content .message {
  line-height: 1.5;
  font-size: var(--size-small);
  color: var(--text8);
  margin-top: var(--size-small);
  margin-bottom: var(--size-small);
  white-space: pre-wrap;
}

.modal-posts-content .button-area {
  margin-top: calc(var(--size-small) * 2);
  display: flex;
  justify-content: flex-end;
}

.modal-posts-content .button-area .cancel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  color: var(--primary1);
  border-radius: 4px;
  padding: 0px var(--size-medium);
  height: calc(var(--size-small) * 2);
  font-size: var(--size-small);
}

.modal-posts-content .button-area .cancel:hover {
  background: var(--slight-layer);
}

.modal-posts-content .button-area .ok {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: var(--primary1);
  color: var(--button-text1);
  border-radius: 4px;
  padding: 0px var(--size-medium);
  height: calc(var(--size-small) * 2);
  font-size: var(--size-small);
}

.modal-posts-content .button-area .ok:hover {
  background: var(--primary2);
}

.modal-posts-content .button-area button + button {
  margin-left: var(--size-micro);
}
/* modal-posts end */

/* search start */
.search-container {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;
}

.eAlzzm {
  margin-bottom: 1.5rem;
  display: flex;
  border: 1px solid var(--border2);
  align-items: center;
  transition: all 0.125s ease-in 0s;
  cursor: text;
  height: 4rem;
  padding: 0px 1.5rem;
}

.eAlzzm i {
  transition: all 0.125s ease-in 0s;
  margin-right: 1.25rem;
  font-size: 1.5rem;
  flex-shrink: 0;
}

.eAlzzm input {
  transition: all 0.125s ease-in 0s;
  font-size: 1.5rem;
  flex: 1 1 0%;
  display: block;
  line-height: 2rem;
  height: 2rem;
  padding: 0px;
  border: none;
  outline: 0px;
  background: transparent;
  color: var(--text8);
  min-width: 0px;
}

.eAlzzm input::placeholder {
  color: var(--text9);
}

.focus-eAlzzm {
  margin-bottom: 1.5rem;
  display: flex;
  border: 1px solid var(--border8);
  align-items: center;
  transition: all 0.125s ease-in 0s;
  cursor: text;
  height: 4rem;
  padding: 0px 1.5rem;
}

.focus-eAlzzm i {
  transition: all 0.125s ease-in 0s;
  margin-right: 1.25rem;
  font-size: 1.5rem;
  flex-shrink: 0;
}

.focus-eAlzzm input {
  transition: all 0.125s ease-in 0s;
  font-size: 1.5rem;
  flex: 1 1 0%;
  display: block;
  line-height: 2rem;
  height: 2rem;
  padding: 0px;
  border: none;
  outline: 0px;
  background: transparent;
  color: var(--text8);
  min-width: 0px;
}

.focus-eAlzzm input::placeholder {
  color: var(--text9);
}

.searchBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: var(--primary1);
  color: var(--button-text1);
  border-radius: 4px;
  padding: 0px var(--size-medium);
  height: 2.5rem;
  font-size: var(--size-small);
  margin-left: var(--size-small);
}

.searchBtn:hover {
  background: var(--primary2);
}

.found-posts {
  margin-bottom: calc(var(--size-small) * 4);
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--text8);
}

.found-posts b {
  color: var(--text10);
}

.posts-list .posts-card {
  padding-top: calc(var(--size-small) * 4);
  padding-bottom: calc(var(--size-small) * 4);
  line-height: 1.5;
}

.posts-list .posts-card + .posts-card {
  border-top: 1px solid var(--border6);
}

.posts-list .posts-card:first-child {
  padding-top: 0px;
}

.posts-card .member-info {
  display: flex;
  align-items: center;
  margin-bottom: var(--size-large);
}

.posts-card .member-info a {
  cursor: pointer;
}

.posts-card .member-info img {
  width: calc(var(--size-small) * 3);
  height: calc(var(--size-small) * 3);
  border-radius: var(--size-large);
  display: block;
  margin-right: var(--size-small);
  background: var(--bg-element7);
  object-fit: cover;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
}

.posts-card .member-info .username {
  font-size: 0.875rem;
  color: var(--text10);
  font-weight: bold;
}

.posts-card .member-info .username {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.posts-card > a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.posts-card .posts-thumbnail {
  width: 100%;
  position: relative;
  margin-bottom: var(--size-small);
}

.posts-card .posts-thumbnail img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.posts-card h2 {
  font-size: var(--size-large);
  margin: 0px;
  color: var(--text10);
  word-break: keep-all;
}

.posts-card p {
  margin-bottom: calc(var(--size-small) * 2);
  margin-top: calc(var(--size-small) / 2);
  font-size: var(--size-small);
  color: var(--text8);
  word-break: keep-all;
  overflow-wrap: break-word;
}

.posts-card .tags-wrapper {
  margin-bottom: -0.875rem;
}

.posts-card .tags-wrapper a {
  cursor: pointer;
  margin-bottom: 0.875rem;
  background: var(--bg-tag);
  padding-left: var(--size-small);
  padding-right: var(--size-small);
  height: calc(var(--size-small) * 2);
  border-radius: var(--size-small);
  display: inline-flex;
  align-items: center;
  margin-right: 0.875rem;
  color: var(--primary1);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--size-small);
}

.posts-card .tags-wrapper a:hover {
  opacity: 0.75;
}

.posts-card .subinfo {
  display: flex;
  align-items: center;
  margin-top: var(--size-small);
  color: var(--text9);
  font-size: 0.875rem;
}

.posts-card .subinfo .separator {
  margin-left: calc(var(--size-small) / 2);
  margin-right: calc(var(--size-small) / 2);
}

.posts-card .subinfo .likes {
  display: flex;
  align-items: center;
}

.posts-card .subinfo .likes i {
  margin-right: 0.25rem;
}
/* search end */

/* media screen start */
@media screen and (max-width: 1024px) {
  .search-container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
  }
}

.no-search {
  margin-bottom: 4rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--text8);
}

@media screen and (max-width: 767px) {
  .modal {
    align-items: flex-start;
    padding: calc(var(--size-small) * 2) var(--size-small);
    overflow: auto;
  }

  .modal .modal-container {
    flex-direction: column;
  }

  .modal .modal-container .line {
    display: none;
  }

  .secret-area .foot {
    margin-top: calc(var(--size-small) * 2);
  }

  .secret-area section.image {
    display: none;
  }

  .modal-container-detail .wrapper {
    width: auto;
    height: 100%;
    flex: 1 1 0%;
  }

  .modal-container-detail .wrapper .gray-block {
    display: none;
    overflow-y: auto;
  }

  .white-block .exit-wrapper {
    margin-bottom: 0px;
  }

  .search-container {
    margin-top: 0.5rem;
    width: 100%;
  }

  .eAlzzm {
    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .eAlzzm i {
    font-size: 1rem;
    margin-right: 0.75rem;
  }

  .eAlzzm input {
    flex: 1 1 0%;
    font-size: 1.125rem;
    line-height: 1.5;
    height: auto;
  }

  .focus-eAlzzm {
    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .focus-eAlzzm i {
    font-size: 1rem;
    margin-right: 0.75rem;
  }

  .focus-eAlzzm input {
    flex: 1 1 0%;
    font-size: 1.125rem;
    line-height: 1.5;
    height: auto;
  }

  .searchBtn {
    height: var(--size-large);
    font-size: 0.875rem;
  }

  .found-posts {
    font-size: var(--size-small);
    margin-bottom: var(--size-small);
  }

  .posts-list .posts-card {
    padding-top: calc(var(--size-small) * 2);
    padding-bottom: calc(var(--size-small) * 2);
  }

  .posts-card .member-info {
    margin-bottom: var(--size-micro);
  }

  .posts-card .member-info img {
    width: calc(var(--size-small) * 2);
    height: calc(var(--size-small) * 2);
    border-radius: var(--size-small);
  }

  .posts-card h2 {
    font-size: var(--size-small);
  }

  .posts-card .tags-wrapper {
    margin-bottom: -0.5rem;
  }

  .posts-card .tags-wrapper a {
    height: var(--size-large);
    font-size: var(--size-micro);
    border-radius: var(--size-micro);
    padding-left: var(--size-micro);
    padding-right: var(--size-micro);
    margin-right: calc(var(--size-small) / 2);
    margin-bottom: calc(var(--size-small) / 2);
  }

  .posts-card .subinfo {
    font-size: var(--size-micro);
  }
}

/* media screen end */

/* keyframes start */
@keyframes appear1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear2 {
  0% {
    opacity: 0;
    transform: translateY(400px) scale(0.75);
  }

  75% {
    opacity: 1;
    transform: translateY(-16px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* keyframes end */
.show {
  display: block;
}

.hide {
  display: none;
}