:root {
  /* text color */
  --text1: #212529;
  --text2: #E36B12;
  --text3: #fff;
  --text4: #495057;
  --text5: #868E96;
  --text6: #bdbdbd;
  --text7: #29d;
  --text8: #D9D9D9;
  --text9: #ACACAC;
  --text10: #ECECEC;
  --text11: #868E96;

  --primary1: #db8056;
  --primary2: #db6e3d;

  --button-text1: #121212;
  --button-text2: #D9D9D9;

  --message-text1: #fbc88d;
  --message-text2: #e66a00;
  --message-text3: #ab3907;

  /* background color */
  --bg-page1: #F8F9FA;
  --bg-page2: #121212;

  --bg-element1: rgba(0,0,0,0.05);
  --bg-element2: #F8F9FA;
  --bg-element3: #212529;
  --bg-element4: #343A40;
  --bg-element5: #fff;
  --bg-element6: #303740;
  --bg-element7: #1E1E1E;
  --bg-element8: #F8F9FA;
  --bg-element9: #0c0c0c;

  --bg-modal1: rgba(0,0,0,0.85);
  --bg-modal2: #252525;

  /* border color */
  --border1: #F1F3F5;
  --border2: #A0A0A0;
  --border3: #595959;

  /* padding */
  --padding-side: 5rem;
  --padding1: 10px;

  /* margin */
  --margin-side: 1.5rem;
  --margin1: 10px;

  /* font family */
  --font-sans-serif: 'Spoqa Han Sans Neo', 'sans-serif';
  --font-fuzzy-bubbles: 'Fuzzy Bubbles', cursive;
  --font-silkscreen: 'Silkscreen', cursive;
  --font-concert-one: 'Concert One', cursive;
  --font-nanum-gothic: 'Nanum Gothic', sans-serif;

  /* font size */
  --font-more-large: 26px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  /* size */
  --size-more-large: 1.75rem;
  --size-large: 1.5rem;
  --size-medium: 1.25rem;
  --size-small: 1rem;
  --size-micro: 0.75rem;

  /* section size */
  --section-width: 1024px;
  --section-height: 720px;

}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans-serif);
  margin: 0 auto;
  color: var(--text1);
}

.root {
  background-color: var(--bg-page1);
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: var(--text1);
}

a:visited {
  text-decoration: none;
  color: var(--text1);
}

a:active {
  text-decoration: none;
  color: var(--text1);
}

a:hover {
  text-decoration: none;
  color: var(--text1);
}

/* header start */
header {
  height: calc(var(--size-small) * 4);
  background-color: var(--bg-page1);
}

header .header {
  width: 1728px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.head-container .head-logo {
  font-family: var(--font-fuzzy-bubbles);
  font-size: var(--font-more-large);
}

.head-container .head-logo a:hover {
  color: var(--text2);
  cursor: pointer;
}

.head-container .head-content {
  display: flex;
  align-items: center;
}

.head-container .head-content .search {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  width: calc(var(--size-medium) * 2);
  height: calc(var(--size-medium) * 2);
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  color: var(--text1);
  font-size: calc(var(--font-small) * 2);
}

.head-container .head-content .search:hover {
  background: var(--bg-element1);
}

.head-container .head-content .head-btn {
  height: calc(var(--size-small) * 2);
  padding-left: var(--size-small);
  padding-right: var(--size-small);
  font-size: var(--size-small);
  border-radius: var(--size-small);
  outline: none;
  font-weight: bold;
  word-break: keep-all;
  background: var(--bg-element2);
  border: 1px solid var(--bg-element3);
  color: var(--bg-element3);
  transition: all 0.125s ease-in 0s;
  cursor: pointer;
  margin-left: calc(var(--margin-side) / 2);
}

.head-container .head-content .head-btn:hover {
  background: var(--bg-element3);
  color: var(--text3);
}

.head-container .head-content .thumbnail-profile {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.head-container .head-content .thumbnail-profile img {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.125s ease-in 0s;
}

.head-container .head-content .thumbnail-profile:hover img {
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 12px;
}

.head-container .head-content .thumbnail-profile i {
  font-size: var(--size-small);
  margin-left: calc(var(--size-small) / 2);
  color: var(--text11);
  transition: all 0.125s ease-in 0s;
}

.head-container .head-content .thumbnail-profile i:hover {
  color: var(--text1);
}
/* header end */

/* menu start */
.menu.hide {
  display: none;
}
.menu {
  position: absolute;
  top: 100%;
  right: 0px;
}

.menu .menu-wrapper {
  position: relative;
  z-index: 5;
  width: calc(var(--size-small) * 12);
  background: var(--bg-element5);
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
}

.menu .menu-wrapper .menu-item {
  display: block;
  text-decoration: none;
  color: inherit;
}

.menu .menu-wrapper .menu-item .menu-name {
  color: var(--text1);
  padding: var(--size-micro) var(--size-small);
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
}

.menu .menu-wrapper .menu-item .menu-name:hover {
  background: var(--bg-element8);
  color: var(--primary2);
}

/* menu end */

/* main section start */
section.main {
  width: 1728px;
  height: auto;
  min-height: 100%;
  background-color: var(--bg-page1);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: calc(var(--padding1) * 3);
}

.main .main-container {
  display: flex;
  margin-top: calc(var(--size-small) * 6);
}

.main .main-container .main-content {
  flex: 1 1 0%;
}

.main .main-container .main-content .posts-content {
  display: flex;
  margin: calc(var(--size-small) * -1);
  flex-wrap: wrap;
}

.posts-content .card {
  width: calc(var(--size-small) * 20);
  background: var(--bg-element5);
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
  margin: var(--size-small);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: calc(var(--font-micro) / 2);
  border: none;
}

.posts-content .card:hover {
  transform: translateY(-8px);
  box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
}

.posts-content .card .card-thumbnail {
  display: block;
  color: inherit;
  text-decoration: none;
}

.posts-content .card .card-wrap {
  padding-top: 50%;
  width: 100%;
  position: relative;
}

.posts-content .card .card-thumbnail img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.posts-content .card .posts-info {
  padding: var(--size-small);
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.posts-content .card .posts-info .title {
  display: block;
  color: inherit;
  text-decoration: none;
}

.posts-content .card .posts-info .title h4 {
  font-size: var(--size-small);
  margin: 0px 0px calc(var(--size-small) / 4);
  line-height: 1.5;
  word-break: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--text1);
}

.posts-content .card .posts-info .title .description {
  flex: 1 1 0%;
}

.posts-content .card .posts-info .title .description p {
  margin: 0px 0px var(--size-large);
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: calc(var(--size-small) / 8 * 7);
  line-height: 1.5;
  height: calc(var(--size-small) * 4);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text4);
}

.posts-content .card .posts-info .sub-info {
  font-size: var(--size-micro);
  line-height: 1.5;
  color: var(--text5);
}

.posts-content .card .posts-info .sub-info .separator {
  margin-left: calc(var(--size-micro) / 3);
  margin-right: calc(var(--size-micro) / 3);
}

.posts-content .card .bottom-info {
  padding: var(--size-micro) var(--size-small);
  border-top: 1px solid var(--border1);
  display: flex;
  font-size: var(--size-micro);
  line-height: 1.5;
  justify-content: space-between;
}

.posts-content .card .bottom-info .user-info {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.posts-content .card .bottom-info .user-info img {
  object-fit: cover;
  border-radius: 50%;
  width: var(--size-large);
  height: var(--size-large);
  display: block;
  margin-right: calc(var(--size-small) / 2);
}

.posts-content .card .bottom-info .user-info span {
  color: var(--text5);
}

.posts-content .card .bottom-info .user-info span b {
  font-size: var(--text1);
}

.posts-content .card .bottom-info .likes {
  display: flex;
  align-items: center;
}

.posts-content .card .bottom-info .likes i {
  width: var(--size-micro);
  height: var(--size-micro);
  margin-right: calc(var(--size-small) / 2);
}

/* main section end */

/* footer start */
footer.footer {
  padding: calc(var(--padding1) * 6) calc(var(--padding1) * 2);
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: calc(var(--size-small));
  background-color: var(--bg-element6);
  font-family: var(--font-silkscreen);
}

.footer p {
  word-spacing: 0.1rem calc(var(--size-small) / 10);
  color: var(--text6);
  margin-bottom: 0;
  line-height: 1.5
}

.footer p .strong {
  color: var(--text7);
}
/* footer end */

/* modal start */
#modal-bg-hide {
  display: none;
  opacity: 0;
}

#modal-container-hide {
  display: none;
  opacity: 0;
}

.modal-bg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-modal1);
  z-index: 10;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  transition: 0.4s;
  animation: 0.4s ease-in-out 0s 1 normal forwards running appear1;
}

.modal-container .wrapper {
  width: 606px;
  height: 530px;
  box-shadow: rgb(0 0 0 / 9%) 0px 2px 12px 0px;
  display: flex;
  animation: 0.4s ease-in-out 0s 1 normal forwards running appear2;
}

.modal-container .wrapper .gray-block {
  width: 216px;
  background: var(--bg-element7);
  padding: var(--size-large);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container .wrapper .gray-block img {
  width: 100%;
  height: auto;
  display: block;
}

.modal-container .wrapper .gray-block .welcome {
  font-size: calc(var(--size-small) * 2);
  margin-top: var(--size-large);
  color: var(--text8);
  text-align: center;
  font-family: var(--font-concert-one);
}

.modal-container .wrapper .white-block {
  flex: 1 1 0%;
  background: var(--bg-page2);
  padding: var(--size-large);
  display: flex;
  flex-direction: column;
}

.white-block .exit-wrapper {
  display: flex;
  justify-content: flex-end;
  font-size: var(--size-large);
  color: var(--text9);
  margin-bottom: 2.25rem;
}

.white-block .exit-wrapper button {
  border: none;
  outline: none;
  background: none;
  color: var(--button-text2);
  cursor: pointer;
  transition: all 1s ease-in 0s;
}

.white-block .block-content {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.white-block .block-content .content-wrapper {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
}

.content-wrapper .upper-wrapper h2 {
  color: var(--text10);
}

.upper-wrapper h4 {
  margin-top: var(--size-small);
  margin-bottom: var(--size-small);
  color: var(--text9);
}

.upper-wrapper .login-form {
  width: 100%;
  display: flex;
  height: calc(var(--size-small) * 3);
}

.upper-wrapper .login-form input {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  font-size: var(--size-small);
  color: var(--text10);
  flex: 1 1 0%;
  padding: var(--size-small);
  background: var(--bg-element7);
  border-right: none;
  border-bottom: none;
  outline: none;
}

.upper-wrapper .login-form button {
  background: var(--primary2);
  color: var(--button-text);
  font-size: var(--size-small);
  font-weight: bold;
  outline: none;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: calc(var(--size-small) * 6);
  word-break: keep-all;
  cursor: pointer;
}

.upper-wrapper .message {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--message-text1);
  border: 1px solid var(--message-text2);
  color: var(--message-text3);
  padding-left: var(--size-micro);
  padding-right: var(--size-micro);
  height: calc(var(--size-small) * 3);
  font-family: var(--font-nanum-gothic);
}

.upper-wrapper .message .fa-check {
  font-size: var(--size-large);
  color: var(--message-text3);
}

.upper-wrapper .message .message-description {
  font-size: 0.875rem;
  flex: 1 1 0%;
  text-align: center;
}

.upper-wrapper .social-login {
  display: flex;
  justify-content: space-around;
  margin-top: var(--size-large);
}

.upper-wrapper .social-login .social-link {
  width: calc(var(--size-small) * 3);
  height: calc(var(--size-small) * 3);
  border-radius: var(--size-large);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: all 0.25s ease-in 0s;
  color: white;
  cursor: pointer;
}

.content-wrapper .foot {
  text-align: right;
}

.content-wrapper .foot span {
  margin-right: calc(var(--size-small) / 4);
  color: var(--text8);
}

.content-wrapper .foot .link {
  display: inline-block;
  font-weight: bold;
  color: var(--primary2);
  cursor: pointer;
}
/* modal end */

/* @media start */
@media screen and (max-width: 1919px) {
  header .header {
    width: 1376px;
  }

  section.main {
    width: 1376px;
  }
}

@media screen and (max-width: 1440px) {
  header .header {
    width: 1024px;
  }

  section.main {
    width: 1024px;
  }
}

@media screen and (max-width: 1056px) {
  header .header {
    width: calc(100% - var(--size-small) * 2);
  }

  section.main {
    width: calc(100% - var(--size-small) * 2);
  }

  .posts-content .card {
    width: calc(50% - var(--size-small) * 2);
  }
}
/* @media end */

/* keyframes start*/
@keyframes appear1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear2 {
  0% {
    opacity: 0;
    transform: translateY(400px) scale(0.75);
  }

  75% {
    opacity: 1;
    transform: translateY(-16px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes disappear1 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* keyframes end*/