{{>layout/header}}

<!-- main section -->
{{#member}}
    <div>{{member.email}}</div>
{{/member}}
{{^member}}
    <div>세션없음</div>
{{/member}}
<section class="main">
    <div class="main-container">
        <main class="main-content">
            <div class="posts-content">
                <div class="card">
                    <a class="card-thumbnail" href="/">
                        <div class="card-wrap">
                            <img src="https://www.fun-coding.org/style/images/blog.jpg" alt="thumbnail-basic-img">
                        </div>
                    </a>
                    <div class="posts-info">
                        <a href="/" class="title">
                            <h4>DND 이벤트 뽀개기!DND 이벤트 뽀개기!</h4>
                            <div class="description">
                                <p>라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 </p>
                            </div>
                        </a>
                        <div class="sub-info">
                            <span>6일 전</span>
                            <span class="separator">.</span>
                            <span>1 개의 댓글</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="user-info">
                            <img src="/images/ex-thumbnail-profile.jpg" alt="user thumbnail of minsu">
                            <span>by <b>minsu</b></span>
                        </div>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <span>45</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a class="card-thumbnail" href="/">
                        <div class="card-wrap">
                            <img src="https://www.fun-coding.org/style/images/blog.jpg" alt="thumbnail-basic-img">
                        </div>
                    </a>
                    <div class="posts-info">
                        <a href="/" class="title">
                            <h4>DND 이벤트 뽀개기!DND 이벤트 뽀개기!</h4>
                            <div class="description">
                                <p>라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 </p>
                            </div>
                        </a>
                        <div class="sub-info">
                            <span>6일 전</span>
                            <span class="separator">.</span>
                            <span>1 개의 댓글</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="user-info">
                            <img src="/images/ex-thumbnail-profile.jpg" alt="user thumbnail of minsu">
                            <span>by <b>minsu</b></span>
                        </div>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <span>45</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a class="card-thumbnail" href="/">
                        <div class="card-wrap">
                            <img src="https://www.fun-coding.org/style/images/blog.jpg" alt="thumbnail-basic-img">
                        </div>
                    </a>
                    <div class="posts-info">
                        <a href="/" class="title">
                            <h4>DND 이벤트 뽀개기!DND 이벤트 뽀개기!</h4>
                            <div class="description">
                                <p>라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 </p>
                            </div>
                        </a>
                        <div class="sub-info">
                            <span>6일 전</span>
                            <span class="separator">.</span>
                            <span>1 개의 댓글</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="user-info">
                            <img src="/images/ex-thumbnail-profile.jpg" alt="user thumbnail of minsu">
                            <span>by <b>minsu</b></span>
                        </div>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <span>45</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a class="card-thumbnail" href="/">
                        <div class="card-wrap">
                            <img src="https://www.fun-coding.org/style/images/blog.jpg" alt="thumbnail-basic-img">
                        </div>
                    </a>
                    <div class="posts-info">
                        <a href="/" class="title">
                            <h4>DND 이벤트 뽀개기!DND 이벤트 뽀개기!</h4>
                            <div class="description">
                                <p>라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 </p>
                            </div>
                        </a>
                        <div class="sub-info">
                            <span>6일 전</span>
                            <span class="separator">.</span>
                            <span>1 개의 댓글</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="user-info">
                            <img src="/images/ex-thumbnail-profile.jpg" alt="user thumbnail of minsu">
                            <span>by <b>minsu</b></span>
                        </div>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <span>45</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a class="card-thumbnail" href="/">
                        <div class="card-wrap">
                            <img src="https://www.fun-coding.org/style/images/blog.jpg" alt="thumbnail-basic-img">
                        </div>
                    </a>
                    <div class="posts-info">
                        <a href="/" class="title">
                            <h4>DND 이벤트 뽀개기!DND 이벤트 뽀개기!</h4>
                            <div class="description">
                                <p>라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 </p>
                            </div>
                        </a>
                        <div class="sub-info">
                            <span>6일 전</span>
                            <span class="separator">.</span>
                            <span>1 개의 댓글</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="user-info">
                            <img src="/images/ex-thumbnail-profile.jpg" alt="user thumbnail of minsu">
                            <span>by <b>minsu</b></span>
                        </div>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <span>45</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a class="card-thumbnail" href="/">
                        <div class="card-wrap">
                            <img src="https://www.fun-coding.org/style/images/blog.jpg" alt="thumbnail-basic-img">
                        </div>
                    </a>
                    <div class="posts-info">
                        <a href="/" class="title">
                            <h4>DND 이벤트 뽀개기!DND 이벤트 뽀개기!</h4>
                            <div class="description">
                                <p>라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 </p>
                            </div>
                        </a>
                        <div class="sub-info">
                            <span>6일 전</span>
                            <span class="separator">.</span>
                            <span>1 개의 댓글</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="user-info">
                            <img src="/images/ex-thumbnail-profile.jpg" alt="user thumbnail of minsu">
                            <span>by <b>minsu</b></span>
                        </div>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <span>45</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>

<!-- modal -->
<div class="modal-bg" id="modal-bg-hide"></div>
<div class="modal-container" id="modal-container-hide">
    <div class="wrapper">
        <div class="gray-block">
            <div>
                <img src="/images/pumpkin.png" alt="welcome">
                <div class="welcome">Welcome!</div>
            </div>
        </div>
        <div class="white-block">
            <div class="exit-wrapper">
                <button id="hide-btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="block-content">
                <div class="content-wrapper">
                    <div class="upper-wrapper">
                        <h2 class="change-login">로그인</h2>
                        <section>
                            <h4>이메일로 <span class="change-login">로그인</span></h4>
                            <form class="login-form" onsubmit="return false">
                                <input autocomplete="off" type="text" id="email" name="email" placeholder="이메일을 입력하세요.">
                                <button class="login-btn change-login" id="login-btn">로그인</button>
                            </form>
                            <div class="message" style="display: none;">
                                <i class="fa-solid fa-check"></i>
                                <div class="message-description">
                                    <span class="emailCheck">회원가입</span> 링크가 이메일로 전송되었습니다.
                                </div>
                            </div>
                        </section>
                        <section>
                            <h4>소셜 계정으로 <span class="change-login">로그인</span></h4>
                            <div class="social-login">
                                <a href="/oauth2/authorization/google" class="social-link" style="background: white;">
                                    <img class="google" src="/images/social-google.png" alt="google">
                                </a>
                                <a href="/" class="social-link">
                                    <img src="/images/social-naver.png" alt="naver">
                                </a>
                            </div>
                        </section>
                    </div>
                    <div class="foot">
                        <span class="member">아직 회원이 아니신가요?</span>
                        <div class="link">회원가입</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}