{{>layout/header}}

<!-- main section -->
<section class="main">
    <div class="main-container">
        <main class="main-content">
            <div class="posts-content">
                <div class="card">
                    <a class="card-thumbnail" href="/">
                        <div class="card-wrap">
                            <img src="https://www.fun-coding.org/style/images/blog.jpg" alt="thumbnail-basic-img">
                        </div>
                    </a>
                    <div class="posts-info">
                        <a href="/" class="title">
                            <h4>DND 이벤트 뽀개기!DND 이벤트 뽀개기!</h4>
                            <div class="description">
                                <p>라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 </p>
                            </div>
                        </a>
                        <div class="sub-info">
                            <span>6일 전</span>
                            <span class="separator">.</span>
                            <span>1 개의 댓글</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="user-info">
                            <img src="images/ex-thumbnail-profile.jpg" alt="user thumbnail of minsu">
                            <span>by <b>minsu</b></span>
                        </div>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <span>45</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a class="card-thumbnail" href="/">
                        <div class="card-wrap">
                            <img src="https://www.fun-coding.org/style/images/blog.jpg" alt="thumbnail-basic-img">
                        </div>
                    </a>
                    <div class="posts-info">
                        <a href="/" class="title">
                            <h4>DND 이벤트 뽀개기!DND 이벤트 뽀개기!</h4>
                            <div class="description">
                                <p>라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 </p>
                            </div>
                        </a>
                        <div class="sub-info">
                            <span>6일 전</span>
                            <span class="separator">.</span>
                            <span>1 개의 댓글</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="user-info">
                            <img src="images/ex-thumbnail-profile.jpg" alt="user thumbnail of minsu">
                            <span>by <b>minsu</b></span>
                        </div>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <span>45</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a class="card-thumbnail" href="/">
                        <div class="card-wrap">
                            <img src="https://www.fun-coding.org/style/images/blog.jpg" alt="thumbnail-basic-img">
                        </div>
                    </a>
                    <div class="posts-info">
                        <a href="/" class="title">
                            <h4>DND 이벤트 뽀개기!DND 이벤트 뽀개기!</h4>
                            <div class="description">
                                <p>라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 </p>
                            </div>
                        </a>
                        <div class="sub-info">
                            <span>6일 전</span>
                            <span class="separator">.</span>
                            <span>1 개의 댓글</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="user-info">
                            <img src="images/ex-thumbnail-profile.jpg" alt="user thumbnail of minsu">
                            <span>by <b>minsu</b></span>
                        </div>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <span>45</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a class="card-thumbnail" href="/">
                        <div class="card-wrap">
                            <img src="https://www.fun-coding.org/style/images/blog.jpg" alt="thumbnail-basic-img">
                        </div>
                    </a>
                    <div class="posts-info">
                        <a href="/" class="title">
                            <h4>DND 이벤트 뽀개기!DND 이벤트 뽀개기!</h4>
                            <div class="description">
                                <p>라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 </p>
                            </div>
                        </a>
                        <div class="sub-info">
                            <span>6일 전</span>
                            <span class="separator">.</span>
                            <span>1 개의 댓글</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="user-info">
                            <img src="images/ex-thumbnail-profile.jpg" alt="user thumbnail of minsu">
                            <span>by <b>minsu</b></span>
                        </div>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <span>45</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a class="card-thumbnail" href="/">
                        <div class="card-wrap">
                            <img src="https://www.fun-coding.org/style/images/blog.jpg" alt="thumbnail-basic-img">
                        </div>
                    </a>
                    <div class="posts-info">
                        <a href="/" class="title">
                            <h4>DND 이벤트 뽀개기!DND 이벤트 뽀개기!</h4>
                            <div class="description">
                                <p>라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 </p>
                            </div>
                        </a>
                        <div class="sub-info">
                            <span>6일 전</span>
                            <span class="separator">.</span>
                            <span>1 개의 댓글</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="user-info">
                            <img src="images/ex-thumbnail-profile.jpg" alt="user thumbnail of minsu">
                            <span>by <b>minsu</b></span>
                        </div>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <span>45</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a class="card-thumbnail" href="/">
                        <div class="card-wrap">
                            <img src="https://www.fun-coding.org/style/images/blog.jpg" alt="thumbnail-basic-img">
                        </div>
                    </a>
                    <div class="posts-info">
                        <a href="/" class="title">
                            <h4>DND 이벤트 뽀개기!DND 이벤트 뽀개기!</h4>
                            <div class="description">
                                <p>라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 없이 React에서 Drag and Drop 이벤트를 구현해보자!!!라이브러리 </p>
                            </div>
                        </a>
                        <div class="sub-info">
                            <span>6일 전</span>
                            <span class="separator">.</span>
                            <span>1 개의 댓글</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="user-info">
                            <img src="images/ex-thumbnail-profile.jpg" alt="user thumbnail of minsu">
                            <span>by <b>minsu</b></span>
                        </div>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <span>45</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>

{{>layout/footer}}