{{>layout/header}}

<!-- main section -->
<section class="main">
    <div class="main-container">
        <main class="main-content">
            <div class="posts-order">
                <div class="order-content">
                    <div class="order">
                        <a id="latest" href="/" class="active">
                            <i class="fa-regular fa-clock"></i>
                            최신
                        </a>
                        <a id="popular" href="/api/v1/auth/popular">
                            <i class="fa-solid fa-fire"></i>
                            인기
                        </a>
                        <div class="category-underline"></div>
                    </div>
                </div>
            </div>
            <div class="posts-content">
                {{#postsList}}
                    <div class="card">
                        {{#storeFilename}}
                        <a class="card-thumbnail" href="/api/v1/auth/posts/{{id}}">
                            <div class="card-wrap">
                                <img src="{{imageUrl}}" alt="thumbnail-basic-img">
                            </div>
                        </a>
                        {{/storeFilename}}
                        <div class="posts-info">
                            <a href="/api/v1/auth/posts/{{id}}" class="title">
                                <h4>{{title}}</h4>
                                <div class="description">
                                    <p>{{description}}</p>
                                </div>
                            </a>
                            <div class="sub-info">
                                <span>{{previousTime}}</span>
                                <span class="separator">·</span>
                                <span>{{commentCount}} 개의 댓글</span>
                            </div>
                        </div>
                        <div class="bottom-info">
                            <a href="/api/v1/auth/my-alog/{{member.id}}" class="user-info">
                                <img src="{{member.picture}}" alt="member profile thumbnail">
                                <span>by <b>{{member.name}}</b></span>
                            </a>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>{{likeCount}}</span>
                            </div>
                        </div>
                    </div>
                {{/postsList}}
            </div>
            <nav class="pagination">
                <input type="hidden" id="startPage" value="{{searchDto.basePageDto.startPage}}" />
                <input type="hidden" id="endPage" value="{{searchDto.basePageDto.endPage}}" />
                {{#searchDto.basePageDto.prevPage}}
                    <a href="?page={{movePrevPage}}" class="move-page pagination-previous">이전 페이지</a>
                {{/searchDto.basePageDto.prevPage}}
                <ul class="pagination-list">
                    {{#hasDoublePrevPage}}
                        <li><a href="?page={{doublePrevPage}}" class="pagination-link doublePrev">...</a></li>
                    {{/hasDoublePrevPage}}
                    {{^hasDoublePrevPage}}

                    {{/hasDoublePrevPage}}
                    {{#pagination}}
                        <li><a href="?page={{.}}" class="pagination-link" data-value={{.}}>{{.}}</a></li>
                    {{/pagination}}
                    {{#hasDoubleNextPage}}
                        <li><a href="?page={{doubleNextPage}}" class="pagination-link doubleNext">...</a></li>
                    {{/hasDoubleNextPage}}
                    {{^hasDoubleNextPage}}

                    {{/hasDoubleNextPage}}
                </ul>
                {{#searchDto.basePageDto.nextPage}}
                    <a href="?page={{moveNextPage}}" class="move-page pagination-next">다음 페이지</a>
                {{/searchDto.basePageDto.nextPage}}
            </nav>
        </main>
    </div>
</section>

<!-- modal -->
<div class="modal-bg" id="modal-bg-hide"></div>
<div class="modal-container" id="modal-container-hide">
    <div class="wrapper">
        <div class="gray-block">
            <div>
                <img src="/images/pumpkin.png" alt="welcome">
                <div class="welcome">Welcome!</div>
            </div>
        </div>
        <div class="white-block">
            <div class="exit-wrapper">
                <button id="hide-btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="block-content">
                <div class="content-wrapper">
                    <div class="upper-wrapper">
                        <h2 class="change-login">로그인</h2>
                        <section>
                            <h4>이메일로 <span class="change-login">로그인</span></h4>
                            <form class="login-form" onsubmit="return false">
                                <input autocomplete="off" type="text" id="email" name="email" placeholder="이메일을 입력하세요.">
                                <button class="login-btn change-login" id="login-btn">로그인</button>
                            </form>
                            <div class="message" style="display: none;">
                                <i class="fa-solid fa-check"></i>
                                <div class="message-description">
                                    <span class="emailCheck">회원가입</span> 링크가 이메일로 전송되었습니다.
                                </div>
                            </div>
                        </section>
                        <section>
                            <h4>소셜 계정으로 <span class="change-login">로그인</span></h4>
                            <div class="social-login">
                                <a href="/oauth2/authorization/google" class="social-link" style="background: white;">
                                    <img class="google" src="/images/social-google.png" alt="google">
                                </a>
                                <a href="/oauth2/authorization/naver" class="social-link">
                                    <img src="/images/social-naver.png" alt="naver">
                                </a>
                                <a href="/oauth2/authorization/kakao" class="social-link" style="background: #FDDC00;">
                                    <img src="/images/social-kakao.png" alt="kakao">
                                </a>
                            </div>
                        </section>
                    </div>
                    <div class="foot">
                        <span class="member">아직 회원이 아니신가요?</span>
                        <div class="link">회원가입</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}